<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>net.cpl593h.yelpwithoutpity</string>
       <key>Developer Identifier</key
       <string>CRL6N9XLUP</string>
       <key>CFBundleVersion</key>
       <string>0.9.2</string>
       <key>CFBundleShortVersionString</key>
       <string>0.9.2</string>
       <key>URL</key>
       <string>http://cpl593h.net/safari/yelp-without-pity/yelp-without-pity.safariextz</string>
     </dict>
   </array>
</dict>
</plist>